.app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{
    margin-top: 5%;
}

.history{
    width: 100%;
}

.search-button{
    background-color: blue;
    border-color: aliceblue;
    border-radius: 20%;
    color: white;

}