.app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

form{
    margin-top: 5%;
}

.history{
    width: 100%;
}

.search-button{
    background-color: blue;
    color: white;
    border: none;
    height: 22px;

}

.words-list{
    width: 100%;
}